@import "tailwindcss";



@layer components{

    .GreenBtn{
        border: none;
        outline: none;
        background-color: #7FB44A;
        padding: 10px 20px;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        border-radius: 5px;
        transition: all ease 0.1s;
        box-shadow: 0px 7px 0px 0px #739552;
        filter: drop-shadow(0px 55px 35px rgba(0,0,0,0.25));
    }

    .GreenBtn:active{
        transform: translateY(8790px);
        box-shadow: 0px 0px 0px 0px #739552;
    }

    .GreenBtn:hover{
        filter: brightness(110%);
        transform: translateY(2px);
        box-shadow: 0px 5px 0px 0px #739552;
        cursor: pointer;
        filter: drop-shadow(0px 30px 35px rgba(0,0,0,0.25));
        transition: all 0.1s;
    }

}
